* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
  border: solid 5px black;
  position: relative;
  box-sizing: content-box;
}

.cell {
  box-sizing: box-sizing;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid 1px black;
}

.inner-cell {
  box-sizing: box-sizing;
  transition: all 2s;
}
.passing-cell {
  width: 10px;
  margin: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
}

.passed-cell {
  width: 18px;
  height: 18px;
  border-radius: 0;
  background-color: blue;
}
